.facts {
    margin-bottom: 85px;

    @media (max-width: 991px) {
        margin-bottom: 50px;
    }

    &.container {
        width: 100%;
        max-width: 1230px;
    }

    h1 {
        font-size: 60px;
        font-family: 'plumbcondensedbold';
        margin-bottom: 70px;

        @media (max-width: 991px) {
            margin-bottom: 50px;
        }
    }

    .fact {
        display: flex;
        margin-bottom: 40px;

        @media (max-width: 991px) {
            margin-bottom: 10px;
        }

        span {
            color: #a1a3ac;
        }

        &__num {
            font-size: 60px;
            font-weight: 700;
            color: #3a4152 !important;
            margin-right: 30px;
            line-height: 1;
        }
    }

    .companies {
        font-size: 15px;
    }
}