.footer {
    .socials {
        margin-top: 70px;
        margin-bottom: 42px;
        &__link {
            margin: 0 21px;
        }
    }

    .ip-info {
        padding-bottom: 100px;
        p {
            margin: 0;
            opacity: 0.4;
        }
    }
}

