.guarantee {
    height: 950px;
    position: relative;
    overflow: hidden;

    @media (max-width: 991px) {
        height: auto;
        margin-bottom: 0;
        padding-bottom: 200px;
    }

    &.container {
        width: 100%;
        max-width: 1140px;
    }

    h1 {
        margin-bottom: 90px;
        font-size: 45px;
        font-family: 'plumbcondensedbold';
        white-space: nowrap;
    }
    p {
        margin-bottom: 24px;
    }

    &__info {
        font-size: 16px;
        width: 40%;
        padding-top: 115px;

        @media (max-width: 991px) {
            width: 60%;
            position: relative;
            z-index: 1;
            padding-top: 50px;
        }

        span {
            background-color: rgba(255, 255, 255, 0.2);
            padding: 1px 2px 1px 5px;
            margin-left: -5px;
            border-radius: 3px;
        }
    }
    &__photo-wrapper {
        position: absolute;
        top: 0;
        right: -40px;

        @media (max-width: 991px) {
            top: 360px;
            right: -170px;
        }

        img {
            width: 704px;

            @media (max-width: 991px) {
                width: 600px;
            }
        }
    }

    .name {
        margin-top: 100px;
    }
}