#pay-type{
	margin-bottom: 50px;
	
	@media (max-width: 991px) {
		margin-bottom: 0;
	}

    .bold-span {
        font-weight: bold;
	}
	
	.container {
		width: 100%;
		max-width: 1170px;
	}
}

.yellow {
    color: #e78e22;
}

#pay-type h3{
    text-align: center;
    font-size: 45px;
    font-family: 'plumbcondensedbold';
}

.types{
	margin-top: 60px;
	text-align: center;
	display: flex;
	align-items: flex-end;

	@media (max-width: 991px) {
		display: block;
	}

	&__item {
		background-color: #ffffff;
		flex: 1;
		color: #2e2e30;
		text-align: center;
		padding: 40px;
		display: flex;
		flex-direction: column;
		height: 570px;

		@media (max-width: 1050px) {
			padding: 20px;
			margin-bottom: 20px;
		}

		@media (max-width: 991px) {
			height: auto;
		}
		
		&:nth-child(1) {
			border-radius: 9px 0 0 9px;

			@media (max-width: 991px) {
				border-radius: 9px;
			}
		}

		&:nth-child(2) {
			border-radius: 9px 9px 0 0;
			height: 620px;
			box-shadow: 0 0 103px rgba(108, 108, 108, 0.29), 0 0 103px rgba(255, 255, 255, 0.29);
			position: relative;

			@media (max-width: 991px) {
				height: auto;
				border-radius: 9px;
			}
		}

		&:nth-child(3) {
			border-radius: 0 9px 9px 0;

			@media (max-width: 991px) {
				border-radius: 9px;
			}
		}
	}

	h4 {
		font-size: 35px;
		margin-bottom: 0;
		font-family: 'plumbcondensedbold';
	}

	p {
		text-align: left;
		margin: 25px 0;
		font-family: $montserrat;

		@media (max-width: 991px) {
			text-align: center;
		}
	}

	.type-check {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding-top: 5px;

		[type=checkbox] {
			position: absolute;
			opacity: 0;

			&:checked + .type-check__checkbox {
				background: #feab29 url('../img/type-check__checkbox.png') center center no-repeat;
			}
		}

		&__checkbox {
			width: 25px;
			height: 25px;
			border-radius: 3px;
			background-color: #dadada;
			margin-right: 15px;
		}

		&__text {
			text-align: left;

			span {
				display: block;
			}
		}
	}
}


#pay-type .types .type-s, #pay-type .types .type-b{
	margin-bottom: 20px!important;
}

#pay-type .types .type-s{
	width: 370px;
	height: 560px;
	background: #fff;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	display: inline-block;
	vertical-align: bottom;
	color: #2e2e30;
	position: relative;
}

#pay-type .types .type-b{
	width: 370px;
	height: 620px;
	background: #fff;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	display: inline-block;
	vertical-align: bottom;
	color: #2e2e30;
	box-shadow: 0px 0px 103px rgba(108, 108, 108, 0.29);
	margin: 0px -4px;
	position: relative;
}

#pay-type .types .type-check label{
	text-align: left;
}
#pay-type .types .top-block{
	margin-top: 40px;
}

#pay-type .types .top-block h4{
	font-size: 35px;
	margin-bottom: 0;
	font-family: 'plumbcondensedbold';
}

#pay-type .types .top-block p{
	font-size: 15px;
	letter-spacing: 1px;
	text-align: left;
	margin: 40px;
	margin-top: 32px;
}

#pay-type .types .button-go{
	display: flex;
	justify-content: center;
}
#pay-type .types button{
	@include button (220px);
	height: 56px;
	line-height: 56px;
	border: none;
	color: #fff !important;
	outline: none;
}

#pay-type .types button::before{
    content:none;
}

#pay-type .types .down-block{
	width: 100%;
}

#pay-type .types .down-block input{
	margin-right: 15px;
}

#pay-type .types .down-block .ciced{
	padding: 0px 45px;
	padding-bottom: 10px;
	position: relative;
	text-align: left;

}

#pay-type .types .down-block .ciced::before{
	content: " ";
	width: 100%;
	position: absolute;
	left: 0;
	height: 1px;
	background: #dadada;
	bottom: 0px;
}

#pay-type .types .down-block .price{
	margin-top: 10px;
	font-size: 16px;
	margin-bottom: 25px;
}

#pay-type .types .down-block .price .bp{
    font-size: 35px;
    font-family: 'plumbcondensedbold';
}

.modal-dialog {
	max-width: 600px;
}

.modal-body h3{
	font-size: 50px;
	margin-bottom: 50px;
	color: #2e2e30;
    font-family: 'plumbcondensedbold';
}

.modal-body h4{
	color: #2e2e30;
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 25px;
}

.modal-body{
	padding: 0 100px;

	@media (max-width: 991px) {
		padding: 0 30px;
	}
}

.modal-body input{
	width: 100%;
	height: 72px;
	border: 0px;
	background: #f2f2f2;
	padding-left: 32px;
	font-size: 16px;
	margin-bottom: 21px;
	color: #000;
}

.modal-body .albut {
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'plumbcondensedbold';
	letter-spacing: 1px;
	padding: 20px 53px;
	border-radius: 37.5px;
	background: linear-gradient(#ffa801, #e68d23);
	border: 0px;
	position: relative;
	z-index: 1;
	display: block;
	margin: 0 auto;
	outline: none;
	box-shadow: none;
}