#price{
		margin-bottom: 105px;
		
		@media (max-width: 991px) {
			margin-bottom: 50px;
		}

		&.container{
			width: 100%;
			max-width: 990px;
		}
    
    .remark {
        text-align: center;
				margin-top: 35px;
				font-size: 19px;
    }
    
}

#price h3{
    font-size: 45px;
    font-family: 'plumbcondensedbold';
}

#price h3, #price .has-it{
	text-align: center;
}

#price .bills{
	margin-top: 16px;
}

#price .bills .bill{
	margin-top: 20px;
	background: #fff;
	width: 100%;
	text-align: center;
	padding: 50px 100px;
	padding-top: 0;
	position: relative;
	color: #2e2e30;
}

#price .bills .bill::before{
	display: block;
	position: absolute;
	content: "";
	width: 100%;
	height: 32px;
	background: url(../img/top-part.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	top: -14px;
	left: 0;
}

#price .bills .bill .date{
	padding-top: 25px;
	letter-spacing: 1px;
	font-size: 16px;
}

#price .bills .bill .for-full::before{
	content: "";
	display: block;
	position: absolute;
	top: -25px;
	left: 0;
	width: 100%;
	height: 1px;
	background: linear-gradient(90deg, #fff, #000, #fff);
	opacity: 0.2;
}

#price .bills .bill .for-full{
	margin-top: 35px;
	letter-spacing: 1px;
	font-size: 14px;
	position: relative;
}

#price .bills .bill .price{
	font-size: 45px;
    font-family: 'plumbcondensedbold';
	margin-top: 5px;
}

#price .bills .bill .for-part{
	margin-top: 10px;
	letter-spacing: 1px;
	font-size: 14px;
}

#price .bills .bill .price-part {
	font-size: 20px;
	letter-spacing: 1px;
}