.section-8 {
  overflow: hidden;
  margin-bottom: 65px;

  .container {
    width: 100%;
    max-width: 1000px;
  }

  .width-container {
    max-width: 530px;
    position: relative;

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }

  .personal {
    position: absolute;
    top: 20px;
    right: -232px;

    @media (max-width: 991px) {
      position: static;
      margin-bottom: 50px
    }
  }

  .title {
    color: #ffffff;
    font-family: 'plumbcondensedbold';
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 36px;
  }

  p {
    color: #ffffff;
    font-family: $montserrat;
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 1.8;

    span {
      padding: 1px 6px;
      background: #454955;
      border-radius: 3px;
    }
  }
}