.section-11 {
  padding: 30px 0 40px;
  overflow: hidden;
  margin-bottom: 85px;

  @media (max-width: 991px) {
    padding: 0;
    margin-bottom: 50px;
  }

  .container {
    width: 100%;
    max-width: 1000px;
  }

  .width-container {
    max-width: 650px;
    position: relative;

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }

  .personal {
    position: absolute;
    top: 35px;
    right: 14px;

    @media (max-width: 991px) {
      position: static;
      margin-bottom: 50px;
      text-align: center;
    }
  }

  .title {
    color: #ffffff;
    font-family: 'plumbcondensedbold';
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 36px;
  }

  p {
    color: #ffffff;
    font-family: $montserrat;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.8;

    span {
      padding: 1px 6px;
      background: #454955;
      border-radius: 3px;
    }
  }

  table {
    color: #ffffff;
    font-family: $montserrat;
    font-size: 22px;

    td {
      &:first-child {
        color: #ffa702;
        font-weight: 600;
        padding-right: 30px;
      }
    }
  }
}