.section-10 {
  overflow: hidden;
  margin-bottom: 55px;

  .container {
    width: 100%;
    max-width: 1000px;
  }

  .width-container {
    max-width: 540px;
    position: relative;

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }

  .personal {
    position: absolute;
    top: 40px;
    right: 91px;

    @media (max-width: 991px) {
      position: static;
      margin-bottom: 50px;
      text-align: center;
    }
  }

  .title {
    color: #ffffff;
    font-family: 'plumbcondensedbold';
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 36px;
  }

  p {
    color: #ffffff;
    font-family: $montserrat;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 2;

    span {
      padding: 1px 6px;
      background: #454955;
      border-radius: 3px;
    }
  }
}