.section-1 {
  padding: 40px 0 167px;
  overflow: hidden;

  @media (max-width: 1150px) {
    padding: 20px 0 70px;
  }

  .container {
    width: 100%;
    max-width: 1230px;
  }

  .logo {
    img {
      width: 260px;
    }
  }

  .social {
    a {
      margin-left: 28px;
      text-decoration: none;

      img {
        width: 20px;
      }
    }
  }

  .info {
    max-width: 700px;
    font-family: 'plumbcondensedbold';
    margin-top: 32px;
    color: #ffffff;
    position: relative;

    @media (max-width: 1150px) {
      max-width: 100%;
    }

    &__title {
      font-size: 60px;
      line-height: 1.2;

      @media (max-width: 1150px) {
        font-size: 55px;

        br {
          display: none;
        }
      }
    }

    &__p {
      font-size: 25px;
      margin: 30px 0 15px;

      @media (max-width: 1150px) {
        font-size: 45px;
        max-width: 350px;
        line-height: 1.1;
        margin: 25px 0;
      }
    }

    &__ul {
      font-size: 25px;
      line-height: 30px;

      @media (max-width: 1150px) {
        font-size: 30px;
      }
    }

    &__li {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 15px;
        height: 1px;
        background: #2e333f;
        left: -30px;
        top: 18px;
      }
    }

    &__button {
      margin-top: 40px;
      @include button(280px);

      @media (max-width: 1150px) {
        margin: 300px auto 0;
      }
    }
  }

  .personal {
    position: absolute;
    right: -1px;
    top: -25px;

    @media (max-width: 1150px) {
      right: -136px;
      top: 300px;
    }

    img {
      width: 773px;

      @media (max-width: 1150px) {
        width: 550px;
      }
    }
  }
}