.section-12 {
  overflow: hidden;
  margin-bottom: 140px;

  @media (max-width: 991px) {
    margin-bottom: 50px;
  }

  .container {
    width: 100%;
    max-width: 1230px;
  }

  .title {
    color: #ffffff;
    font-family: 'plumbcondensedbold';
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 50px;
    text-align: center;
  }
}

.result {
  border-radius: 8px;
  overflow: hidden;
  color: #2e2e30;

  &__item {
    box-shadow: 0 13px 62px rgba(25, 30, 44, 0.09);
    background-color: #ffffff;
    position: relative;
    padding: 85px 60px 70px;

    @media (max-width: 991px) {
      padding: 50px 30px;
    }

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        z-index: 6-$i;
      }
    }
  }

  &__image {
    text-align: center;
    margin-bottom: 20px;
  }

  &__title {
    color: #2e2e30;
    font-family: 'plumbcondensedbold';
    font-size: 35px;
    margin-bottom: 25px;
    margin-left: 45px;
  }

  &__bullet {
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    line-height: 1.8;

    p {
      margin: 0;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:before {
      content: attr(data-num);
      min-width: 33px;
      line-height: 33px;
      background-color: #ffc621;
      border-radius: 50%;
      text-align: center;
      margin-right: 10px;
      font-size: 14px;
      font-weight: 700;
    }
  }
}