.section-9 {
  padding: 70px 0 40px;
  overflow: hidden;
  margin-bottom: 100px;

  .container {
    width: 100%;
    max-width: 1000px;
  }

  .width-container {
    max-width: 400px;
    position: relative;
    margin: 0 0 0 auto;

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }

  .personal {
    position: absolute;
    top: -63px;
    left: -112px;

    @media (max-width: 991px) {
      position: static;
      margin-bottom: 50px
    }
  }

  .title {
    color: #ffffff;
    font-family: 'plumbcondensedbold';
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 36px;
  }

  p {
    color: #ffffff;
    font-family: $montserrat;
    font-size: 16px;
    margin-bottom: 30px;

    span {
      padding: 1px 6px;
      background: #454955;
      border-radius: 3px;
    }
  }

  table {
    color: #ffffff;
    font-family: $montserrat;
    font-size: 16px;

    td {
      &:first-child {
        color: #ffa702;
        font-weight: 600;
        padding-right: 30px;
      }
    }
  }
}