.section-4 {
  overflow: hidden;
  margin-bottom: 110px;

  @media (max-width: 991px) {
    margin-bottom: 80px;
  }

  .container {
    width: 100%;
    max-width: 1140px;
  }

  .title {
    color: #ffffff;
    font-family: 'plumbcondensedbold';
    font-size: 45px;
    text-align: center;
  }

  .slider-count {
    color: #808080;
    font-family: $montserrat;
    font-weight: 500;
    text-align: right;
    margin-bottom: 20px;

    @media (max-width: 991px) {
      display: none;
    }
  }

  .slider-big {
    margin-bottom: 25px;
    position: relative;

    @media (max-width: 1470px) {
      margin: 0 40px 25px;
    }

    .slick-arrow {
      width: 43px;
      height: 190px;
      background: none;
      border: none;
      font-size: 0;
      position: absolute;
      top: 50%;
      margin-top: -95px;
      outline: none;

      @media (max-width: 1470px) {
        width: 25px;
      }

      &.slick-prev {
        background: url('../img/slick-arrow-left.svg') center left no-repeat;
        left: -60px;

        @media (max-width: 1470px) {
          left: -40px;
        }
      }

      &.slick-next {
        background: url('../img/slick-arrow-right.svg') center right no-repeat;
        right: -60px;

        @media (max-width: 1470px) {
          right: -40px;
        }
      }
    }

    &__item {
      border-radius: 3px;
      background-color: #ffffff;
      padding: 85px 40px;
      display: flex;
      align-items: flex-start;

      @media (max-width: 991px) {
        padding: 30px;
        display: block;
      }
    }

    &__video {
      flex: 0 0 45%;
      min-width: 45%;
      margin-right: 40px;
      position: relative;
      cursor: pointer;

      @media (max-width: 1200px) {
        margin-right: 20px;
      }

      @media (max-width: 991px) {
        margin: 0 0 15px;
      }

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -80px 0 0 -80px;
        width: 160px;
        height: 160px;
        background: url('../img/play-video.svg');
      }

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -10px 0 0 -6px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 12px;
        border-color: transparent transparent transparent #feac29;
      }

      img {
        max-width: 100%;
      }
    }

    &__content {
      font-family: $montserrat;
      font-size: 16px;
      font-weight: 500;

      p {
        color: #808080;
        margin-bottom: 45px;
        line-height: 1.7;
      }
    }

    &__title {
      color: #2e2e30;
      font-family: 'plumbcondensedbold';
      font-size: 36px;
      line-height: 1;
      margin-bottom: 30px;
    }

    &__name {
      color: #2e2e30;
      
      span {
        display: block;
        margin-top: 5px;
        color: #e89020;
      }
    }

    &__instagram {
      white-space: nowrap;

      @media (max-width: 991px) {
        margin: 15px 0 0;
      }

      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 34px;
        height: 34px;
        background: url('../img/instagram-logo.png'); 
        margin-right: 15px;
      }

      a {
        text-decoration: none;
        border-bottom: 1px solid #feab29;
        color: #2e2e30;
      }
    }
  }

  .slider-small {
    @media (max-width: 991px) {
      display: none;
    }

    &__item {
      text-align: center;
      opacity: .1;
      outline: none;
      padding: 0 10px;

      &.slick-center {
        opacity: 1;
      }

      img {
        max-width: 100%;
        display: block;
        margin: 0 auto 5px;
      }

      span {
        color: #ffffff;
        font-family: $montserrat;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}