.section-2 {
  overflow: hidden;
  padding-bottom: 70px;

  .container {
    width: 100%;
    max-width: 1220px;
  }

  .title {
    color: #ffffff;
    font-family: 'plumbcondensedbold';
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 64px;

    @media (max-width: 991px) {
      br {
        display: none;
      }
    }

    span {
      color: #fda703;
    }
  }

  img {
    width: 620px;
    float: right;
    margin-right: 53px;

    @media (max-width: 991px) {
      float: none;
      display: block;
      max-width: 100%;
      margin: 0 auto 50px;
    }
  }

  p {
    color: #ffffff;
    font-family: $montserrat;
    font-size: 16px;
    margin-bottom: 30px;

    @media (max-width: 991px) {
      margin-bottom: 20px;
    }

    span {
      padding: 1px 6px;
      background: #454955;
      border-radius: 3px;
    }
  }

  .order {
    @include button(340px);
    margin: 85px auto 0;
  }
}