.section-3 {
  padding-top: 30px;
  overflow: hidden;
  padding-bottom: 155px;

  .container {
    width: 100%;
    max-width: 1220px;
  }

  .content {
    max-width: 550px;

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }

  .personal {
    position: absolute;
    right: -120px;
    top: -16px;

    @media (max-width: 1200px) {
      top: 150px;
    }

    @media (max-width: 991px) {
      position: static;
      text-align: center;
    }

    img {
      @media (max-width: 1200px) {
        width: 500px;
      }
    }
  }

  .title {
    font-size: 45px;
    color: #ffffff;
    font-family: 'plumbcondensedbold';
    line-height: 1.2;
    margin-bottom: 55px;
    position: relative;
    z-index: 1;

    @media (max-width: 991px) {
      br {
        display: none;
      }
    }
  }

  p {
    color: #ffffff;
    font-family: $montserrat;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;

    span {
      padding: 1px 6px;
      background: #454955;
      border-radius: 3px;
    }
  }
}