.section-5 {
  margin-bottom: 130px;
  overflow: hidden;

  .container {
    max-width: 1080px;
  }

  .title {
    text-align: center;
    color: #ffffff;
    font-family: 'plumbcondensedbold';
    font-size: 45px;
    margin-bottom: 40px;
  }
}

.review-list {
  @media (max-width: 1470px) {
    margin: 0 50px;
  }

  &__item {
    padding: 0 8px;
  }

  &__review {
    margin-bottom: 20px;
    text-align: center;

    img {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &__author {
    display: flex;
    align-items: center;

    @media (max-width: 800px) {
      justify-content: center;
    }
  }

  &__avatar {
    border-radius: 5000px;
    border: 2px solid #fff;
    margin-right: 20px;
  }

  &__instagram {
    white-space: nowrap;

    @media (max-width: 991px) {
      margin: 15px 0 0;
    }

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 34px;
      height: 34px;
      background: url('../img/instagram-logo.png'); 
      margin-right: 10px;
    }

    a {
      text-decoration: none;
      border-bottom: 1px solid #fff;
      color: #fff;
      font-size: 18px;
    }
  }

  .slick-arrow {
    width: 43px;
    height: 190px;
    background: none;
    border: none;
    font-size: 0;
    position: absolute;
    top: 50%;
    margin-top: -95px;
    outline: none;

    @media (max-width: 1470px) {
      width: 25px;
    }

    &.slick-prev {
      background: url('../img/slick-arrow-left.svg') center left no-repeat;
      left: -60px;

      @media (max-width: 1470px) {
        left: -40px;
      }
    }

    &.slick-next {
      background: url('../img/slick-arrow-right.svg') center right no-repeat;
      right: -60px;

      @media (max-width: 1470px) {
        right: -40px;
      }
    }
  }
}