.section-6 {
  overflow: hidden;

  .container {
    width: 100%;
    max-width: 1000px;
  }

  .width-container {
    max-width: 500px;

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }

  .personal {
    position: absolute;
    right: 17px;
    top: 120px;

    @media (max-width: 991px) {
      position: static;
      
      img {
        display: block;
        margin: 15px auto;
      }
    }
  }

  .title {
    color: #ffffff;
    font-family: 'plumbcondensedbold';
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 36px;
  }

  p {
    color: #ffffff;
    font-family: $montserrat;
    font-size: 16px;
    margin-bottom: 44px;

    span {
      padding: 1px 6px;
      background: #454955;
      border-radius: 3px;
    }
  }
}