.section-7 {
  overflow: hidden;
  padding-bottom: 140px;
  margin-bottom: 100px;

  @media (max-width: 991px) {
    padding-bottom: 0;
    margin-bottom: 50px;
  }

  .container {
    width: 100%;
    max-width: 1000px;
  }

  .width-container {
    max-width: 560px;
    position: relative;
    margin: 0 0 0 auto;

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }

  .personal {
    position: absolute;
    left: -197px;
    bottom: -145px;

    @media (max-width: 991px) {
      position: static;
    }
  }

  .title {
    color: #ffffff;
    font-family: 'plumbcondensedbold';
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 36px;
  }

  p {
    color: #ffffff;
    font-family: $montserrat;
    font-size: 16px;
    margin-bottom: 30px;

    span {
      padding: 1px 6px;
      background: #454955;
      border-radius: 3px;
    }
  }
}