.together {
    margin-bottom: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 136px;

    hr {
        background-color: #ffffff;
        opacity: 0.1;
    }

    &.container {
        width: 100%;
        max-width: 1280px;
    }

    &__photo-wrapper {
        margin-right: 106px;

        @media (max-width:991px) {
            margin: 0 0 20px;
            text-align: center;
        }

        img {
            max-width: 100%;
        }
    }

    &__info {
        h1 {
            margin-bottom: 46px;
            font-family: 'plumbcondensedbold';
            font-size: 45px;
        }
        p {
            margin-bottom: 60px;
            width: 60%;
        }
    }

    &__button {
        @include button(410px);
    }
}