<section class="facts container">
    <h1>6 фактов об авторе</h1>
    <div class="row">
        <div class="fact fact-1 col-12 col-lg-4">
            <span class="fact__num">1</span>
            <div><p>25 лет. Родился и вырос в г. Изобильном <span>(население 40 000 чел)</span> в небогатой семье</p></div>
        </div>

        <div class="fact fact-2 col-12 col-lg-4">
            <span class="fact__num">2</span>
            <div class="w-100">
                <p>Соучредитель 2х компаний </p>
                <div class="companies d-flex">
                    <div>
                        <img src="img/glarnik.png" height="27" alt="">
                        <p><span>Юридическая компания</span></p>
                        <p>48 сотрудников </p>
                        <a href="https://www.sro-sp.ru" class="yellow">www.sro-sp.ru</a>
                    </div>
                    <div>
                        <img src="img/suntegy.png" height="27" alt="">
                        <p><span>IT разработка  стартапов</span></p>
                        <p>8 сотрудников</p>
                        <a href="https://www.suntegy.com" class="yellow">www.suntegy.com</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="fact fact-3 col-12 col-lg-4">
            <span class="fact__num">3</span>
            <p>Успешно проинвестировав в один из проектов, <span>смог в последствии успешно продать свою долю и купить себе</span> Rolce Royce Wraith в 24 года.</p>
        </div>

        <div class="fact fact-4 col-12 col-lg-4">
            <span class="fact__num">4</span>
            <p>Выступал с докладами на бизнес семнарах <span>Синергии, Трансормации (в Олимпийском ), Бизнес - молодости, бизнес квартиры</span></p>
        </div>

        <div class="fact fact-5 col-12 col-lg-4">
            <span class="fact__num">5</span>
            <p>Уже 7 лет изучает и тестирует здоровое питание </p>
        </div>
        
    
        <div class="fact fact-6 col-12 col-lg-4">
            <span class="fact__num">6</span>
            <p>Регулярно обучается на конференциях в США <span>и делится выжимками с конференций в своем профиле в инстаграмме</span><span class="yellow">@mgralnik</span></p></div>
    </div>
</section>