<footer class="footer container">
    <div class="socials text-center">
        <a href="mailto:maxgpower3.0@gmail.com" class="socials__link"><img src="img/black-back-closed-envelope-shape.png" alt="email"></a>
        <a href="https://api.whatsapp.com/send?phone=79030991110" class="socials__link"><img src="img/whatsapp.png" alt="whatsapp"></a>
        <a href="http://t-do.ru/morozovanatol" class="socials__link"><img src="img/telegram.png" alt="telegram"></a>
    </div>
    <div class="ip-info text-center">
        <p class="ip-info__name">ИП Гральник Максим Олегович</p>
        <p class="ip-info__ogrnip">ОГРНИП 32234334</p>
    </div>
</footer>
<script src="js/main.js"></script>