<section class="guarantee container">
    <div class="guarantee__info">
        <h1>100% Гарантия <br>Вы ничем не рискуете </h1>
        <p><span class="">Я уверен в своей программе MaxPower,</span>  потому что я получил уже больше сотни благодарных отзывов с прошлых потоков.</p>
        <p> Если вы выполните все упражнения и вам не понравится результат, то я моментально верну деньги без лишних вопросов.</p>
        <p><span>Вы ничем не рискуете. </span></p>
        <p class="name">Гральник Максим Олегович</p>
    </div>
    <div class="guarantee__photo-wrapper">
        <img class="guarantee__photo" src="img/2-layers.png" alt="">
    </div>
</section>