<section id="pay-type">
    <div class="container">
        <h3>Выберите ваш<br> вариант оплаты</h3>
        <div class="col-md-12">
            <div class="types">
                <div class="types__item">
                    <div class="d-flex flex-column flex-grow-1">
                        <h4>Тест-драйв</h4>
                        <p>Посетить 1 неделю. <br> Только 3 занятия (пн, ср, пт)</p>

                        <label class="type-check mt-auto">
                            <input type="checkbox" name="type1w" id="type1w">
                            <div class="type-check__checkbox"></div>
                            <div class="type-check__text">Иду с другом <span class="yellow">(скидка обоим по 10%)</span></div>
                        </label>
                    </div>
                    <div class="down-block">
                        <div class="ciced"></div>
                        <div class="price">Цена: <span class="bp">4 900 р</span></div>
                        <div class="button-go"><button class="albut" data-toggle="modal" data-target="#bas-1-1">Принять участие</button></div>
                    </div>
                </div>

                <div class="types__item">
                    <div class="d-flex flex-column flex-grow-1">
                        <h4>Полная оплата <br>
                            наставничества <br>
                            за 6 недель</h4>
                        <p>Доступ ко всем занятиям на весь период прохождения курса</p>

                        <label class="type-check mt-auto">
                            <input type="checkbox" name="typeFull" id="typeFull">
                            <div class="type-check__checkbox"></div>
                            <div class="type-check__text">Иду с другом <span class="yellow">(скидка обоим по 10%)</span></div>
                        </label>
                    </div>
                    <div class="down-block">
                        <div class="ciced"></div>
                        <div class="price">Цена: <span class="bp">15 900 р</span></div>
                        <div class="button-go"><button class="albut" data-toggle="modal" data-target="#bas-2-1">Принять участие</button></div>
                    </div>
                </div>

                <div class="types__item">
                    <div class="d-flex flex-column flex-grow-1">
                        <h4>Оплата в рассрочку</h4>
                        <p class="yellow" style="margin-right: 0px; margin-bottom: 10px;">Первый платеж открывает <br>доступ к первому месяцу занятий.</p>
                        <p>Для продолжения обучения необходимо будет внести <span class="bold-span">2 платежа по 5 900 руб с интервалом 2 недели</span></p>

                        <label class="type-check mt-auto">
                            <input type="checkbox" name="typeRass" id="typeRass">
                            <div class="type-check__checkbox"></div>
                            <div class="type-check__text">Иду с другом <span class="yellow">(скидка обоим по 10%)</span></div>
                        </label>
                    </div>
                    <div class="down-block">
                        <div class="ciced"></div>
                        <div class="price">Цена: <span class="bp not-c">5 900 р</span></div>
                        <div class="button-go"><button class="albut" data-toggle="modal" data-target="#bas-3-1">Принять участие</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="bas-1-1" style="background: #171c2a">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <script id="d72efa6693c455ce28f1b88e044d154ce8ad66ea" src="https://maxpower24.com/pl/lite/widget/script?id=71670"></script>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="bas-2-1" style="background: #171c2a">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <script id="a3031048e3d4070007f888846ba3cff6db6fd473" src="https://maxpower24.com/pl/lite/widget/script?id=71673"></script>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="bas-3-1" style="background: #171c2a">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <script id="bf2c031fc900c55d319748dd7bac13c12e81fa71" src="https://maxpower24.com/pl/lite/widget/script?id=71674"></script>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="bas-1-2" style="background: #171c2a">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
            <script id="4cfab733340b1fd0b7ec96896ddbc9748bd49104" src="https://maxpower24.com/pl/lite/widget/script?id=72075"></script>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="bas-2-2" style="background: #171c2a">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
            <script id="1b7ea54acd4f97075ca7fae3bbf566b4394a1eaf" src="https://maxpower24.com/pl/lite/widget/script?id=72168"></script>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="bas-3-2" style="background: #171c2a">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
            <script id="1855591894c42e5a1b81c37bba94eeea259796a5" src="https://maxpower24.com/pl/lite/widget/script?id=72169"></script>
        </div>
        </div>
    </div>
</div>