<section id="price" class="container">
    <h3>Стоимость <br> наставничества</h3>
    <div class="has-it">
        <p class="bigger" style="margin-bottom: 0px;">за 6 недель</p>
        <p style="color: #8b8b8b;">(с 11 марта по 20 апр 2019 г)</p>
    </div>
    <div class="bills row">
        <div class="col-lg-6">
            <div class="bill">
                <div class="date yellow">При оплате до 9 марта</div>
                <div class="for-full">при полной оплате</div>
                <div class="price">15 900 руб</div>
                <div class="for-part">при оплате в рассрочку</div>
                <div class="price-part"><b>3 платежа по 5 900 руб</b></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="bill">
                <div class="date yellow">При оплате после 10 марта</div>
                <div class="for-full">при полной оплате</div>
                <div class="price">19 900 руб</div>
                <div class="for-part">при оплате в рассрочку</div>
                <div class="price-part"><b>3 платежа по 7 000 руб</b></div>
            </div>
        </div>
    </div>
    <div class="remark">
        <p><span class="yellow">*</span>Если вы идете с другом, то обоим <span class="yellow">скидка по 10%</span></p>
    </div>
</section>