<div class="section-8">
  <div class="container position-relative">
    <div class="personal">
      <img src="img/section-8-img.jpg" alt="">
    </div>
    <div class="width-container">
      <div class="title">Наставничество усиленно сообществом</div>
  
      <p>У вас будет доступ в общий чат с участниками MaxPower, где вы сможете обсуждать любые темы, советоваться и находить новых друзей.</p>

      <p>Также у вас будет доступ к Excel таблице с данными участников: кто чем занимается, город, контактная информация. Вы сможете найти клиентов, партнеров, друзей. </p>

      <p>У вас будет возможность посещать живые мероприятия с участниками в ресторанах. Это лучшее место, чтобы завести новых позитивных друзей.</p>
    </div>
  </div>
</div>