<div class="section-1">
  <div class="container position-relative">
    <div class="personal">
      <img src="img/section-1-maxim.jpg" alt="">
    </div>
    <div class="d-flex align-items-center justify-content-between position-relative">
        <a href="/" class="logo">
          <img src="img/logo.png" alt="">
        </a>

        <div class="social">
            <a href="mailto:maxgpower3.0@gmail.com">
              <img src="img/header-soc-mail.png" alt="">
            </a>
            <a href="https://api.whatsapp.com/send?phone=79030991110">
              <img src="img/header-soc-whatsapp.png" alt="">
            </a>
            <a href="http://t-do.ru/morozovanatol">
              <img src="img/header-soc-telegram.png" alt="">
            </a>
        </div>
    </div>
    
    <div class="info">
      <div class="info__title">6 недель живого наставничества<br /> с Максимом Гральником</div>
      <div class="info__p">для выхода на новый уровень жизни по: </div>

      <div class="info__ul">
        <div class="info__li">здоровью</div>
        <div class="info__li">финансам</div>
        <div class="info__li">отношениям</div>
        <div class="info__li">духовности</div>
        <div class="info__li">влиянию</div>
      </div>

      <a href="#pay-type" class="info__button">Принять участие</a>
    </div>
  </div>
</div>
