<div class="section-12">
  <div class="container position-relative">
    <div class="title">Результаты,<br /> которые вы получите:</div>

    <div class="result">
      <div class="result__item">
        <div class="row">
          <div class="col-lg-5">
            <div class="result__image">
              <img src="img/result__item-1.png" alt="">
            </div>
          </div>
          <div class="col-lg-7">
            <div class="result__title">Здоровье</div>

            <div class="result__bullet" data-num='1'>
              <p><b>Станете энергичным и здоровым</b>, потому что поймете как правильно питаться, Узнаете, какие продукты точно нельзя есть и почему. Пропишите свой рацион прямо на занятии.</p> 
            </div>

            <div class="result__bullet" data-num='2'>
              <p><b>Будете чувствовать себя в тонусе и отдохнувшим</b>, потому что узнаете как высыпаться за меньшее кол-во часов и восстанавливать свой организм</p> 
            </div>

            <div class="result__bullet" data-num='3'>
              <p><b>Поднимите иммунитет</b> благодаря зеленым коктейлям. Узнаете о пользе зеленых коктейлей. Получите рецепты и сможете их самостоятельно готовить, чтобы они были вкусные.</p> 
            </div>

            <div class="result__bullet" data-num='4'>
              <p><b>Улучшите работоспособность организма</b> благодаря правильной воде. Узнаете, какую воду надо пить и где ее взять, какие у воды должны быть свойства, как она влияет на наше тело?</p> 
            </div>

            <div class="result__bullet" data-num='5'>
              <p><b>Овладеете технологией быстрого выздоровления</b> и сможете ставить себя на ноги во время простуды. Узнаете, как быстро снимать температуру без таблеток,  как усилить свой иммунитет, как поднять иммунитет во время болезни</p> 
            </div>
          </div>
        </div>
      </div>

      <div class="result__item">
        <div class="row">
          <div class="col-lg-5">
            <div class="result__image">
              <img src="img/result__item-2.png" alt="">
            </div>
          </div>
          <div class="col-lg-7">
            <div class="result__title">Отношения с окружением</div>

            <div class="result__bullet" data-num='1'>
              <p><b>Создадите кайфовое окружение</b>, переформировав свое старое окружение по специальной технологии.  Оценив в таблице свое окружение по важным 3-ем критериям. И примите решение, с кем перестать общаться, с кем увеличит общение</p> 
            </div>

            <div class="result__bullet" data-num='2'>
              <p><b>Найдете / улучшите отношения со своей 2-ой половинкой</b>, выполнив эффективные упражнения в этом направлении. </p> 
            </div>

            <div class="result__bullet" data-num='3'>
              <p><b>Научитесь легко улаживать конфликты</b> и добивать желаемого с помощью общения.</p> 
            </div>

            <div class="result__bullet" data-num='4'>
              <p><b>Получите необходимые ресурсы для вашего бизнеса / работы</b> благодаря вашему окружению, выполнив упражнение по работе с вашими связями.</p> 
            </div>

            <div class="result__bullet" data-num='5'>
              <p><b>Улучшите отношения с близкими</b>, создав важные традиции и ритуалы в семье, с друзьями, на работе.</p> 
            </div>
          </div>
        </div>
      </div>

      <div class="result__item">
        <div class="row">
          <div class="col-lg-5">
            <div class="result__image">
              <img src="img/result__item-3.png" alt="">
            </div>
          </div>
          <div class="col-lg-7">
            <div class="result__title">Финансы</div>

            <div class="result__bullet" data-num='1'>
              <p><b>Высчитаете точную сумму ежемесячного дохода</b> и сколько вам нужно иметь капитала для вашей идеальной жизни. Это даст вам правильный фокус. Вы перестанете тратить время на неэффективные задачи.</p> 
            </div>

            <div class="result__bullet" data-num='2'>
              <p><b>Увеличите свой доход и накопления</b>, овладев технологией финансового планирования для себя и для бизнеса. Вам будут предоставлены все шаблоны, и мы будем вместе в них работать.</p> 
            </div>

            <div class="result__bullet" data-num='3'>
              <p><b>Увеличите личный доход и доход компании</b>, благодаря технологии планирования GTD, внедрив полностью это в электронный задачник. </p> 
            </div>

            <div class="result__bullet" data-num='4'>
              <p><b>Увеличите свой доход, получив знания по инвестициям</b>. Изучите грубые ошибки инвесторов, чтобы не терять свои сбережения в будущем. Узнаете, где лучше хранить деньги, в какие сферы вкладывать.</p> 
            </div>

            <div class="result__bullet" data-num='5'>
              <p><b>Сможете выбрать новое прибыльное направление в бизнесе</b>, изучив технологию отбора ниш по 5 показателям. Это бесценный навык предпринимателя. Больше никаких бизнесов по залету.</p> 
            </div>
          </div>
        </div>
      </div>

      <div class="result__item">
        <div class="row">
          <div class="col-lg-5">
            <div class="result__image">
              <img src="img/result__item-4.png" alt="">
            </div>
          </div>
          <div class="col-lg-7">
            <div class="result__title">Духовность</div>

            <div class="result__bullet" data-num='1'>
              <p><b>Укрепите вашу силу воли</b>, чтобы вы могли достигать сложные цели.</p> 
            </div>

            <div class="result__bullet" data-num='2'>
              <p><b>Научитесь правильно мечтать</b>. И сделаете на занятии очень эффективный утренний ритуал, который будет заряжать вас энергией каждое утро.</p> 
            </div>

            <div class="result__bullet" data-num='3'>
              <p><b>Станете более энергичным, живым и счастливым</b> человеком, выполняя эффективные упражнения</p> 
            </div>

            <div class="result__bullet" data-num='4'>
              <p><b>Получите способность "не впадать в депрессию</b> и быстро подниматься по настроению в любой сложной ситуации."</p> 
            </div>

            <div class="result__bullet" data-num='5'>
              <p><b>Поймете почему карма влияет на нас</b>, и как можно использовать ее себе в плюс... и т. д.</p> 
            </div>
          </div>
        </div>
      </div>

      <div class="result__item">
        <div class="row">
          <div class="col-lg-5">
            <div class="result__image">
              <img src="img/result__item-5.png" alt="">
            </div>
          </div>
          <div class="col-lg-7">
            <div class="result__title">Влияние </div>

            <div class="result__bullet" data-num='1'>
              <p><b>Увеличите свои мотивацию</b> и уровень энергии. Подберете себе дело своей жизни, выполнив эффективное упражнение. Сможете максимально повлиять на этот мир. </p> 
            </div>

            <div class="result__bullet" data-num='2'>
              <p><b>Увеличите кол-во подписчиков</b> в своих социальных сетях, изучив технологию, как стать лидером мнения.</p> 
            </div>

            <div class="result__bullet" data-num='3'>
              <p><b>Сможете круто выступать на публике</b>, разобрав на занятиях инструкцию по подготовке к выступлениям. Структуру выступления и тд.</p> 
            </div>

            <div class="result__bullet" data-num='4'>
              <p><b>Улучшите этот мир</b>, запустив благотворительный проект прямо во время наставничества.</p> 
            </div>

            <div class="result__bullet" data-num='5'>
              <p><b>Освободите свое время</b>, научившись правильно делегировать функции подчиненным, чтоы вы могли оказывать большее влияние и запускать новые проекты</p> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>