<div class="section-4">
  <div class="container position-relative">
    <div class="title">Результаты участников </div>

    <div class="slider-count">
      <span class="slider-count__current">1</span>
      /
      <span class="slider-count__all"></span>
    </div>

    <div class="slider-big">
      <div class="slider-big__item">
        <div class="slider-big__video" href="https://www.youtube.com/watch?v=iY0R5Yzf_5Y">
          <img src="img/video/1.jpg" alt="">
        </div>

        <div class="slider-big__content">
          <div class="slider-big__title">Cистематизировала все аспекты жизни</div>
          <p>Я очень не системный человек, но благодаря Максиму я систематизировала все аспекты жизни! С удовольствием пойду на второй поток, поэтому всем советую.</p>

          <div class="d-lg-flex align-items-center justify-content-between">
            <div class="slider-big__name">
                Анастасия Стригина
                <span>Основатель YES-Express</span>
            </div>
            <div class="slider-big__instagram">
                <a target="_blank" href="https://www.instagram.com/strigina">@strigina</a>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-big__item">
        <div class="slider-big__video" href="https://www.youtube.com/watch?v=PAaJsWbV5RQ">
          <img src="img/video/2.jpg" alt="">
        </div>

        <div class="slider-big__content">
          <div class="slider-big__title">Повысил уровень энергии и как следствие начал больше зарабатывать</div>
          <p>Пришел, чтобы повысить уровень энергии – это и получил. Стало гораздо больше времени, повысилась энергия и улучшилось настроение. ☺ А как следствие, я начал больше зарабатывать и купил машину о которой давно мечтал!</p>

          <div class="d-lg-flex align-items-center justify-content-between">
            <div class="slider-big__name">
                Анатолий Артемьев
                <span>Владелец апарт-отеля «География»</span>
            </div>
            <div class="slider-big__instagram">
                <a target="_blank" href="https://www.instagram.com/anatoly_artemev">@anatoly_artemev</a>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-big__item">
        <div class="slider-big__video" href="https://www.youtube.com/watch?v=jHxleVU_rAY">
          <img src="img/video/3.jpg" alt="">
        </div>

        <div class="slider-big__content">
          <div class="slider-big__title">За три недели мы реально выросли</div>
          <p>Самое важное, что привело меня к результатам, это постоянный фокус на целях. Каждое утро цели, каждое утро отчеты. Спасибо Макс!</p>

          <div class="d-lg-flex align-items-center justify-content-between">
            <div class="slider-big__name">
                Андрей Момот
                <span>Владелец фабрики “WINGS”</span>
            </div>
            <div class="slider-big__instagram">
                <a target="_blank" href="https://www.instagram.com/andrmomo">@andrmomo</a>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-big__item">
        <div class="slider-big__video" href="https://www.youtube.com/watch?v=DZpXydXhf_s">
          <img src="img/video/4.jpg" alt="">
        </div>

        <div class="slider-big__content">
          <div class="slider-big__title">Ваша жизнь разделится на до и после</div>
          <p>Суть курса - самодисциплина. В любом случае вы эти деньги проедите, поэтому лучше инвестируйте в себя. У вас жизнь будет до курса, и после. Ребята вписывайтесь, не пожалеете!</p>

          <div class="d-lg-flex align-items-center justify-content-between">
            <div class="slider-big__name">
                Андрей Мордас
                <span>Строительство и производство</span>
            </div>
            <div class="slider-big__instagram">
                <a target="_blank" href="https://www.instagram.com/andrei_mordas">@andrei_mordas</a>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-big__item">
        <div class="slider-big__video" href="https://www.youtube.com/watch?v=_6McuHDCQE8">
          <img src="img/video/5.jpg" alt="">
        </div>

        <div class="slider-big__content">
          <div class="slider-big__title">Cтал раньше вставать и появилось больше времени для саморазвития</div>
          <p>Мне очень понравилось, что мы делали все упражнения прям в процессе эфира. Это очень мотивирует, когда другие люди делают задания вместе с тобой. Всем рекомендую записываться на очередной курс Макса, мне очень понравилось!</p>

          <div class="d-lg-flex align-items-center justify-content-between">
            <div class="slider-big__name">
                Антон Санкин
                <span>Владелец «Импортекс»</span>
            </div>
            <div class="slider-big__instagram">
                <a target="_blank" href="https://www.instagram.com/anton.sankin">@anton.sankin</a>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-big__item">
        <div class="slider-big__video" href="https://www.youtube.com/watch?v=T_TIMc98tEM">
          <img src="img/video/6.jpg" alt="">
        </div>

        <div class="slider-big__content">
          <div class="slider-big__title">Во время курса смог купить автомобиль и систематизировать свой день</div>
          <p>Прошел курс Х10 от Максима Гральника. Для себя внедрил 10 фишек, которые помогают мне вставать до 6 утра, и появилось куча свободного времени, которое я знаю, как применять. И самое главное, я теперь понимаю, зачем мне вставать в это время.</p>

          <div class="d-lg-flex align-items-center justify-content-between">
            <div class="slider-big__name">
                Влад Кащеев
                <span>Продажа автозапчастей</span>
            </div>
            <div class="slider-big__instagram">
                <a target="_blank" href="https://www.instagram.com/vlad_kashcheev">@vlad_kashcheev</a>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-big__item">
        <div class="slider-big__video" href="https://www.youtube.com/watch?v=Y-mvUM7mPFA">
          <img src="img/video/7.jpg" alt="">
        </div>

        <div class="slider-big__content">
          <div class="slider-big__title">Восстановился по здоровью</div>
          <p>Курс супер! Что дал? Дисциплину, мотивацию, больше энергии и восстановился по здоровью. Всем советую!</p>

          <div class="d-lg-flex align-items-center justify-content-between">
            <div class="slider-big__name">
                Дмитрий Дьяконов
                <span>Web-разработчик</span>
            </div>
            <div class="slider-big__instagram">
                <a target="_blank" href="https://www.instagram.com/dvdyakonov">@dvdyakonov</a>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-big__item">
        <div class="slider-big__video" href="https://www.youtube.com/watch?v=phY_8bCrOUA">
          <img src="img/video/8.jpg" alt="">
        </div>

        <div class="slider-big__content">
          <div class="slider-big__title">Появился новый проект</div>
          <p>За эти три недели у меня появился новый проект. Я стал вставать в 6 часов утра. Мне это очень сильно нравится, потому что твой день становится намного длиннее, чем например, когда ты встаешь в 8. Всем советую записываться на следующий поток!</p>

          <div class="d-lg-flex align-items-center justify-content-between">
            <div class="slider-big__name">
                Кирилл Крупин
                <span>Поставка и продажа кроссовок</span>
            </div>
            <div class="slider-big__instagram">
                <a target="_blank" href="https://www.instagram.com/krupin86">@krupin86</a>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-big__item">
        <div class="slider-big__video" href="https://www.youtube.com/watch?v=Nr5ckAmWHlQ">
          <img src="img/video/9.jpg" alt="">
        </div>

        <div class="slider-big__content">
          <div class="slider-big__title">Внедрил кучу крутых фишек</div>
          <p>За этот курс я внедрил кучу крутых фишек, связанных со здоровьем, с отношениями с близкими, со второй половинкой, в личных финансах. Курс меня поднял на уровне жизни, как минимум в 10 раз. Я восстановил режим, стал чувствовать себя намного круче. Всем категорически советую!</p>

          <div class="d-lg-flex align-items-center justify-content-between">
            <div class="slider-big__name">
                Рустам Юсупов
                <span>Туризм</span>
            </div>
            <div class="slider-big__instagram">
                <a target="_blank" href="https://www.instagram.com/rustam_yusupov_">@rustam_yusupov_</a>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-big__item">
        <div class="slider-big__video" href="https://www.youtube.com/watch?v=wJl80wFlY8E">
          <img src="img/video/10.jpg" alt="">
        </div>

        <div class="slider-big__content">
          <div class="slider-big__title">Моя жизнь не будет уже прежней</div>
          <p>Курс Максима не совсем о бизнесе, он обо всем. Там затрагивается очень много сфер: финансовые, личностные, семейные. Для себя могу отметить три очень важных события. Первое, я начал вставать раньше. Второе, я осознал какие сферы жизни мне срочно нужно проработать. Третье, я сделал аналитику окружения и понял, что надо что-то менять в жизни. Обязательно всем советую пройти этот курс!</p>

          <div class="d-lg-flex align-items-center justify-content-between">
            <div class="slider-big__name">
                Саватий Казаченко
                <span>Управление недвижимостью</span>
            </div>
            <div class="slider-big__instagram">
                <a target="_blank" href="https://www.instagram.com/savvushkasavvushka">@savvushkasavvushka</a>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-big__item">
        <div class="slider-big__video" href="https://www.youtube.com/watch?v=ppfUJdMlljY">
          <img src="img/video/11.jpg" alt="">
        </div>

        <div class="slider-big__content">
          <div class="slider-big__title">Жена в восторге!</div>
          <p>Получил то, что хотел! Самоорганизацию и улучшил семейные отношения. Спасибо большое Макс, всем рекомендую </p>

          <div class="d-lg-flex align-items-center justify-content-between">
            <div class="slider-big__name">
                Тимур Хабиров
                <span>Ритейл строительных материалов</span>
            </div>
            <div class="slider-big__instagram">
                <a target="_blank" href="https://www.instagram.com/khabirov">@khabirov</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="slider-small">
      <div class="slider-small__item">
        <img src="img/video/1.jpg" alt="">
        <span>Анастасия Стригина</span>
      </div>
      <div class="slider-small__item">
        <img src="img/video/2.jpg" alt="">
        <span>Анатолий Артемьев</span>
      </div>
      <div class="slider-small__item">
        <img src="img/video/3.jpg" alt="">
        <span>Андрей Момот</span>
      </div>
      <div class="slider-small__item">
        <img src="img/video/4.jpg" alt="">
        <span>Андрей Мордас</span>
      </div>
      <div class="slider-small__item">
        <img src="img/video/5.jpg" alt="">
        <span>Антон Санкин</span>
      </div>
      <div class="slider-small__item">
        <img src="img/video/6.jpg" alt="">
        <span>Влад Кащеев</span>
      </div>
      <div class="slider-small__item">
        <img src="img/video/7.jpg" alt="">
        <span>Дмитрий Дьяконов</span>
      </div>
      <div class="slider-small__item">
        <img src="img/video/8.jpg" alt="">
        <span>Кирилл Крупин</span>
      </div>
      <div class="slider-small__item">
        <img src="img/video/9.jpg" alt="">
        <span>Рустам Юсупов</span>
      </div>
      <div class="slider-small__item">
        <img src="img/video/10.jpg" alt="">
        <span>Саватий Казаченко</span>
      </div>
      <div class="slider-small__item">
        <img src="img/video/11.jpg" alt="">
        <span>Тимур Хабиров</span>
      </div>
    </div>
  </div>
</div>