<div class="section-9">
  <div class="container position-relative">
    <div class="personal">
      <img src="img/section-9-img.jpg" alt="">
    </div>
    <div class="width-container">
      <div class="title">Призы для побелителей, кто дойдет до конца</div>
  
      <p>Если вы выполните все задания на 100%, то вы сможете принять участие в розыгрыше</p>

      <table>
        <tr>
          <td>1-ое место</td>
          <td>MacBook</td>
        </tr>
        <tr>
          <td>2-ое место</td>
          <td>Iphone X</td>
        </tr>
        <tr>
          <td>3-ое место</td>
          <td>Видео камера Sony 4К</td>
        </tr>
      </table>
    </div>
  </div>
</div>