<div class="section-10">
  <div class="container position-relative">
    <div class="personal">
      <img src="img/section-10-img.jpg" alt="">
    </div>
    <div class="width-container">
      <div class="title">Личный чат лидеров с Максимом Гральником</div>
  
      <p>
        Это чат доступен только тем, кто выполнил все задания и дошел конца. <br />
        <span>В этом чате находятся избранные люди</span> со всех предыдущих потоков – <span>настоящие лидеры</span>. <br />
      </p>

      <p>Они могут <span>задавать любые вопросы Максиму</span> в чате, а также получать советы от других участников.</p>

      <p><span>Быть в этом чате - это лучше любых тренингов.</span> Потому что вы сможете получить ответ на любой вопрос от участников этого чата <span>абсолютно бесплатно.</span> </p>
    </div>
  </div>
</div>