<div class="section-5">
  <div class="container">
    <div class="title">Отзывы после курса</div>

    <div class="review-list">
      <div class="review-list__item">
        <div class="review-list__review">
          <img src="img/review-list/1.png" alt="">
        </div>
      </div>
      <div class="review-list__item">
        <div class="review-list__review">
          <img src="img/review-list/1-1.png" alt="">
        </div>
      </div>



      <div class="review-list__item">
        <div class="review-list__review">
          <img src="img/review-list/2.png" alt="">
        </div>
      </div>
      <div class="review-list__item">
        <div class="review-list__review">
          <img src="img/review-list/3.png" alt="">
        </div>
      </div>
      <div class="review-list__item">
        <div class="review-list__review">
          <img src="img/review-list/4.png" alt="">
        </div>
      </div>
      <div class="review-list__item">
        <div class="review-list__review">
          <img src="img/review-list/5.png" alt="">
        </div>
      </div>
      <div class="review-list__item">
        <div class="review-list__review">
          <img src="img/review-list/6.png" alt="">
        </div>
      </div>
      <div class="review-list__item">
        <div class="review-list__review">
          <img src="img/review-list/7.png" alt="">
        </div>
      </div>
      <div class="review-list__item">
        <div class="review-list__review">
          <img src="img/review-list/8.png" alt="">
        </div>
      </div>
      <div class="review-list__item">
        <div class="review-list__review">
          <img src="img/review-list/9.png" alt="">
        </div>
      </div>
      <div class="review-list__item">
        <div class="review-list__review">
          <img src="img/review-list/10.png" alt="">
        </div>
      </div>
      <div class="review-list__item">
        <div class="review-list__review">
          <img src="img/review-list/11.png" alt="">
        </div>
      </div>
      
    </div>
  </div>
</div>