<div class="section-6">
  <div class="container position-relative">
    <div class="width-container">
      <div class="title">Как будет проходить<br> MaxPower?</div>

      <div class="personal">
          <img src="img/section-6-img.jpg" alt="">
        </div>

      <p>
        <span>6 недель живых занятий с Максимом Гральником</span>
      </p>

      <p>C 11 марта по 20 апреля 2019 каждый понедельник, среду и пятницу мы будем выходить в 6:30 утра* по московскому времени в прямой эфир в закрытом аккаунте в инстаграмме.  (*Если вы проспали или вы из другого региона / страны, вам будет предоставлена запись)</p>

      <p>На эфире: </p>

      <p>20% времени я буду делиться своими <span>успешными действиями по бизнесу, здоровью, как быть энергичным.</span></p>

      <p>Также я буду давать вам выжимки знаний из моего дорогостоящего <br /> <span>обучения в США</span>. Я даю только знания, которые <span>я проверил на себе</span>. 80% времени эфира мы будем вместе выполнять упражнения. Никаких домашних заданий. Вы все будете успевать делать во время эфира. Эти упражнения усилят любое обучение, которое вы проходили раньше или проходите сейчас.</p>

      <p>Это полноценная работа по 5ти вашим сферам жизни, которая сопровождается приятной дисциплиной, новыми сильными позитивными друзьями и классным драйвом!</p>
    </div>
  </div>
</div>