<div class="section-7">
    <div class="container position-relative">
      <div class="personal">
        <img src="img/section-7-img.jpg" alt="">
      </div>
      <div class="width-container">
        <div class="title">Удобная обучающая платформа</div>
    
        <p>В вашем личном кабинете будут <span>структурированны все упражнения</span> по дням занятий.</p>

        <p>В команде MaxPower работают <span>8 профессиональных кураторов</span>, которые оперативно проверяют ваши выполненные задания и помогают вам на протяжении всего наставничества 24/7</p>

        <p>Кураторы помогают вам <span>держать дисциплину</span>, а также оперативно передают ваши вопросы и пожелания Максиму Гральнику, чтобы вы получили от него быстрый ответ. </p>
      </div>
    </div>
  </div>