<div class="section-11">
  <div class="container position-relative">
    <div class="personal">
      <img src="img/section-11-img.png" alt="">
    </div>
    <div class="width-container">
      <div class="title">Цель наставничества MaxPower</div>
  
      <p><span>Увеличить ваши показатели</span> и вывести вас<br /> на <span>новый уровень жизни</span> по 5 сферам:</p>

      <p>
        <b>1. Здоровье</b> <br />
        <b>2. Отношения с окружением</b> <br />
        <b>3. Финансы</b> <br />
        <b>4. Духовность</b> <br />
        <b>5. Влияние</b> <br />
      </p>

      <p>Только работая сбалансированно над своими целями, вы сможете получать максимальное удовольствие от жизни и <span>чувствовать себя счастливым</span>.</p>
    </div>
  </div>
</div>