<div class="section-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="title">
            Почему MaxPower <span>3.0</span> работет<br /> 
            и приносит результаты сотням <br />
            участников?
        </div>

        <img src="img/section-2-img.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <p><span>Успешные люди достигают</span> своих целей, потому что <span>работают со своими наставниками</span>, тренерами. </p>
        <p>Без наставника я в свои 25 лет не владел бы 2-мя компаниями и Rollce Royce-ом.<br /> И я точно не был бы таким энергичным и уверенным в себе.</p>
        <p>Именно <span>наставник дает работающие знания</span>, которые он проверил на себе. А также, он <span>усиливает вашу энергию</span> и уверенность, чтобы вы действовали и преодолевали трудности, лень, страхи, когда вы идете на пути к своей цели.</p>
        <p>Мы с вами и так уже <span>много знаем, но не делаем!!!</span> Поэтому я создал наставничество MaxPower, на котором, помимо проверенных знаний,<br /> <span>я буду делать все упражнения вместе с вами</span>. Никаких домашек - все в режиме онлайн.</p>
        <p>Я уже провел 2 потока наставничества, и <span>ученики получили супер результаты! Это работает для всех!</span></p>
        <p>Готовы <span>прожить со мной 6 недель</span> в моем режиме и получить сверх результаты? <br /> Записывайтесь прямо сейчас! Будет жарко!</p>
      </div>
    </div>

    <a href="#pay-type" class="order">Записаться на MaxPower</a>
  </div>
</div>