<div class="section-3">
  <div class="container position-relative">
    <div class="content">
      <div class="title">Этот курс для вас,<br /> если вы хотите:</div>

      <div class="personal">
        <img src="img/section-3-img.jpg" alt="">
      </div>

      <p>1. Зарабатывать больше, стать продуктивнее, разобраться в инвестировании.</p>

      <p>2. Стать энергичнее, счастливее, узнав, как работает карма и другие важные законы в жизни.</p>

      <p>3. Быть здоровым и иметь сексуальное тело.</p>

      <p>4. Развить свой личный бренд и повлиять на этот мир </p>

      <p>5. Найти новых друзей, узнать, как строить с ними отношения. А также улучшить свои отношения со 2-ой половинкой.</p>

      <p>
      Этот курс идеально подходит мужчинам и женщинам всех возрастов. <br />
      <span>Прошлые потоки это доказали.</span> <br />
      Читайте отзывы и присоединяйтесь!
      </p>
    </div>
  </div>
</div>