<section class="together container d-lg-flex ">
    <div class="together__photo-wrapper">
        <img class="together__photo" src="img/photo5255898338388191923.png" alt="photo">
    </div>
    <div class="together__info">
        <h1>Вместе с MaxPower, <br> вы быстрее достигните своих целей!</h1>
        <p>Не откладывайте свой успех на завтра. Записывайтесь на курс прямо сейчас! <strong>Поехали!</strong></p>
        <a href="#pay-type" class="together__button">Принять участие  в MaxPower 3.0</a>
    </div>
</section>