@font-face {
  font-family: 'plumbcondensedbold';
  src: url('../fonts/plumbcondensed/plumbcondensedbold.eot');
  src: url('../fonts/plumbcondensed/plumbcondensedbold.eot') format('embedded-opentype'),
       url('../fonts/plumbcondensed/plumbcondensedbold.woff2') format('woff2'),
       url('../fonts/plumbcondensed/plumbcondensedbold.woff') format('woff'),
       url('../fonts/plumbcondensed/plumbcondensedbold.ttf') format('truetype'),
       url('../fonts/plumbcondensed/plumbcondensedbold.svg#plumbcondensedbold') format('svg');
}