$transition: all 200ms ease-in-out;

$montserrat: 'Montserrat', sans-serif;

@mixin button($width) {
  display: block;
  width: $width;
  line-height: 75px;
  text-align: center;
  border-radius: 38px;
  background-image: linear-gradient(to top, #e68d23 0%, #e68d23 3%, #ffa801 100%);
  font-family: 'plumbcondensedbold';
  text-transform: uppercase;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: $width + 30px;
    height: 105px;
    border-radius: 52px;
    border: 2px solid #ffffff;
    opacity: 0.1;
    top: -15px;
    left: -15px;
    transition: $transition;
  }

  &:hover {
    color: inherit;
    text-decoration: none;
    
    &:before {
      border-color: #e68d23;
      opacity: .5;
      transform: scale(1.02);
    }
  }
}