@import "variables";
@import "fonts";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/magnific-popup/dist/magnific-popup.css";

.main {
  color: #fff;
  background-color: #171c2a;
  min-width: 600px;
}

@import "modules/section-1";
@import "modules/section-2";
@import "modules/section-3";
@import "modules/section-4";
@import "modules/section-5";
@import "modules/section-6";
@import "modules/section-7";
@import "modules/section-8";
@import "modules/section-9";
@import "modules/section-10";
@import "modules/section-11";
@import "modules/facts";
@import "modules/section-12";
@import "modules/price";
@import "modules/paytype";
@import "modules/guarantee";
@import "modules/together";
@import "modules/footer";

